.container {
    background-color: #b3b3b3;
    border: 5px solid orange;
    width: 500px;
    height: 250px;
    position: relative;
    display: flex;
    padding: 20px;
}

.logo {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    font-style: italic;
}

.logo svg {
    font-size: 20px;
}

.logo div {
    font-size: 18px;
    font-weight: bold;
}

.drums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 55%;
    height: 100%;
}

.drums > * {
    background-color: #8d8d8d;
    box-shadow: black 3px 3px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.drums > *:active {
    transform: translate(2px, 2px);
    background-color: orange;
    box-shadow: orange 3px 3px 5px;
}

.display {
    width: 45%;
    padding: 20px 0;
    display: flex;
    align-content: space-around;
}

.Show {
    width: 75%;
    margin: auto;
    background-color: #8d8d8d;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    height: 40px;
}